*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
    background-color:rgb(3, 196, 163);
    height: 3rem;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}
header .container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}
#logo{
    height: 40px;
    width:40px;
}
#logotext{
    font-size: 24px;
    color:rgb(10, 10, 10);
}



#logowrapper{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;
}
#navlist{
    list-style: none;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:2rem
    
}
#navlist a{
    color: whitesmoke;
    text-decoration: none;
}

#buttons{
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:12rem;
    margin-top: 2rem;

}
.buttons{
    color: black;
    text-decoration: none;
    display: inline-block;
    background-color:rgb(3, 196, 163);;
    padding:0.5rem;
    border-radius:2rem;
    margin-top:2rem;
}
#section2 .container{
   display: grid;
   grid-template-columns: 1fr 1 fr;
   gap:4rem;
}
#firstcoloum{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap:4rem; 
}


